@font-face {
    font-family: 'pc-icon';
    src: url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/PlayIcons-Regular.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/PlayIcons-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/PlayIcons-Regular.woff2') format('woff2'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/PlayIcons-Regular.woff') format('woff'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/PlayIcons-Regular.ttf') format('truetype'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/PlayIcons-Regular.svg') format('svg');

    font-weight: normal;
    font-style: normal;
}

.font-regular, .font-bold, .font-thin, .font-light {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

$bcg-darkest: #20292b;
$bcg-darker: #293538;
$bcg-dark: #2c393c;
$bcg-primary: #364346;

$text-darkest: #5b7073;
$text-dark: #9ba1a3;
$text-secondary: #b1b8ba;
$text-primary: #ffffff;
$text-active: #f60;

.pcui-contextmenu {
    box-sizing: border-box;
    border: 1px solid $bcg-darker;
    border-radius: 2px;
    background-color: $bcg-dark;
    color: $text-secondary;
    font-size: 12px;
    font-weight: 400;
    display: none;
    position: fixed;
    z-index: 9999;
}

.pcui-contextmenu-active {
    display: block;
}

.pcui-contextmenu {
    div {
        padding: 1px;
        background-color: $bcg-dark;
        width: 150px;
        position: absolute;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        }
    }
}

.pcui-contextmenu-parent {
    cursor: auto !important;
    div {
        display: none;
    }
}

.pcui-contextmenu-parent:hover {
    div {
        display: block;
    }
}

.pcui-contextmenu-parent-active {
    div {
        display: block;
    }
}

.pcui-contextmenu {
    div: {
        font-weight: bold;
    }
    div:hover {
        background-color: $bcg-primary;
        cursor: pointer;
    }
    div.pcui-contextmenu-parent:after {
        content: '\E160';
        font-family: 'pc-icon';
        font-size: 14px;
        text-align: center;
        background-color: transparent;
        color: #9ba1a3;
        line-height: 14px;
        position: absolute;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
    }
}
